* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  h2 {
      font-family: 'Comfortaa', cursive;;
  }
  
  body {
    background-color: rgb(231, 231, 231);
    margin: 0;
    display: inline-grid;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .body_div {
    display: flex;
    justify-content: row;
    
  }
  
  .navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0;
    width: 100%;
    height: 20px;
    position:fixed;
    z-index:9;
  }
  
  .nav_meta {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-right: 20px;
  }
  
  .nav_paragraph {
    margin-right: 10px;
    font-size: small;
  }
  
  .signout {
    padding-right: 10px;
    font-size: small;
  }
  
  p {
    color: grey;
    margin-left: 3px;
  }
  .bottom_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100vw;
    overflow-y: scroll;
  }
  
  .right_div {
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin-right: 20px;
    min-height: 100vh;
  }
  
  .side_panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
    height: 60%;
  }
  .rec_div {
    height: 100%;
    display:flex;
    flex-direction: column;
  }
  
  img {
      border-radius: 50%;
      
      
  }
  
  
  .profile_head {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .profile_pic {
    height: 75px;
    width: 75;
  }
  .rec_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    /*border: 3px solid black;*/
  }
  
  .follow {
    color: blue;
    text-decoration: none;
    /*border: 3px solid yellow;*/
  }
  
  .follow2 {
    color: blue;
    text-decoration: none;
    margin-right: 10px;
    /*border: 3px solid yellow;*/
  }
  
  .panel_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 175px;
    position: relative;
    /*border: 3px solid blue;*/
  }
  
  .box {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    align-content: top;
    white-space: normal;
    position: relative;
  }
  .suggestions {
    font-weight: 700;
    font-size: large;
    margin-left: 20px;
    height: 20px;
    font-weight: bold;
    color: rgb(189, 188, 188);
    margin-bottom: 10px;
  }
  
  .small_sugg {
    font-size: small;
    margin-left: 10px;
    margin-top: 0%;
    /*border: 3px solid red;*/
  }
  .name {
    font-size: small;
    font-weight: bold;
    margin-left: 10px;
    color: black;
    /*border: 3px solid green;*/
  }
  
  .middle_section {
    /*margin-left: 75px;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 30px;
    padding: 10px;
    height: auto;
    width: 600px;
   /* border: 20px solid rgb(238, 175, 206);*/
  }
  
  .stories {
    background-color: white;
    height: 100px;
    position: sticky;
    display: flexbox;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom:20px;
    font-size:small;
  }
  
  .storypic {
    margin-bottom: 7px;
  }
  
  /*
  .first_post{
    height:fit-content;
    display: flex;
    flex-direction: column;
  */
  
  .posts {
    background-color: white;
    margin-top: 20px;
    height: auto !important;
    display: block !important;
    flex-direction: column;
  }
  
  
  .middle_box {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    position:relative;
    width: 100%;
    height: auto;
    height: fit-content;
  }
  
  .story_panel {
    height: 100%;
    display: flex;
  }
  .story_circle {
    margin: 5px;
    text-align: center;
    padding-bottom: 10px;
  }
  .posts_top {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .posts_top_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
    height: auto;
    margin-top: 10px;
  }
  .card_photo {
    border-radius: 0%;
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 0;
  }
  .card_pic {
    width: 100%;
    height: auto;
    padding: 0;
  }
  .interactions {
    display: flex;
    flex-direction: column;
    height: auto;
    /*height: 300px;*/
  }
  .type_comment {
    padding: 10px;
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }
  .move {
    padding: 5px;
  }
  .likes {
    margin: 10px;
    height: fit-content;
  }
  
  .comments{
    display:flexbox;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2px;
  
  }
  .caption_para, .commenter{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin: 10px;
    height: auto;
  }
  
  .break {
    flex-basis: 100%;
    height: 10px;
  }
  .breakend {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  
  .post_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    height: auto;
  }
  
  .post_date{
    margin-bottom: 10px;
  }
  .write_comment{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 5px;
    margin-right: 5px;
    height: auto;
  }
  
  .smiley {
    margin: 10px;
  }
  
  .ellipses {
    margin-right: 10px;
  }
  
  .black {
    color: black;
  }
  
  @media (max-device-width: 1024px) {
      main {
          flex-wrap: wrap;
      }
  
      .middle_section{
        width: 100%;
      }
      .right_div {
          display: none !important;
          visibility: collapse !important;
      }
      .side_panel {
          display: none !important;
          visibility: hidden !important;
      }
  
      .suggestions {
          display: none !important;
          visibility: hidden !important;
      }
  }