body * {
    box-sizing: border-box;
}

body {
    display: inline-block;
    font-family: 'Shizuru', cursive;
}


/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

main {
    display: flex;
}

section {
    width: 330px;
    margin: 10px;
    border: solid 1px #CCC;
    padding-bottom: 20px;
}

h2, p, button {
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
}

/*
.inner {
    padding-left: 10px;
    padding-right: 10px;
}
.card {
    width:250px;
    height: auto;
    border: solid 1px rgb(0, 0, 0);
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 20px;
}

.column {
    display: block;
    float: left;
    width: auto;
}
*/

/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }

    section { 
        width: calc(50% - 20px);
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section { 
        width: 100%;
    }
}